body {
    margin: 0%;
}
header {
    width: 100%;
    background-image:url(imagen.png);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    height: 300px ;
}
/* 
main {
    padding: 0% 20%;
    
} */

nav {
    background-color: rgb(247, 173, 148);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#avatar {
    margin-right: 8px;
}

.menu {
    display:flex;
    justify-content: center;
}
.menu2 {
    width: 100%;
    align-items: center;
    margin-left: 6%;
}
.izq {
    width: 50%;
}
a {
    padding:1%;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: underline;
}
span p{
    color: rgb(97, 96, 96);
}
span a {
    color: black;
}
section {
    margin: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.flexbox {
    display: flex;
    
}

.marron {
    background-color: rgb(201, 140, 120);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}
.email {
    border-radius: 30px;
    background-color: transparent;
    border-color: rgb(238, 184, 166);
}
.emailEnviar{
    border-radius: 30px;
    background-color: rgb(238, 184, 166);
    border-color: rgb(238, 184, 166);
}

.popular {
    display: flex;

}
.recetas {
    
    background-image: url(imagen.png);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}