body {
    margin: 0%;
}
header {
    width: 100%;
    background-color: rgb(214, 214, 214);
}

nav {
    background-color: rgb(247, 173, 148);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#avatar {
    margin-right: 8px;
}

.menu {
    display:flex;
    justify-content: center;
}
.menu2 {
    width: 100%;
    align-items: center;
    margin-left: 6%;
}
.izq {
    width: 50%;
}
a {
    padding:1%;
    color: rgba(0, 0, 0, 0.733);
    text-decoration: none;
}
a:hover {
    color: grey;
    text-decoration: underline;
}
span p{
    color: rgb(97, 96, 96);
}
span a {
    color: black;
}
.flexbox {
    display: flex;
}